@charset "UTF-8";

@font-face {
    font-family: "LatoLight";
    font-weight: 300;
    font-style: normal;
    src: url('https://static.zohocdn.com/webfonts/lato2light/font.woff2') format('woff2'), 
         url('https://static.zohocdn.com/webfonts/lato2light/font.woff') format('woff'), 
         url('https://static.zohocdn.com/webfonts/lato2light/font.ttf') format('truetype');
}

@font-face {
    font-family: "LatoRegular";
    font-weight: 400;
    font-style: normal;
    src: url('https://static.zohocdn.com/webfonts/latoregular/font.woff2') format('woff2'), 
         url('https://static.zohocdn.com/webfonts/latoregular/font.woff') format('woff'), 
         url('https://static.zohocdn.com/webfonts/latoregular/font.ttf') format('truetype');
}

@font-face {
    font-family: "LatoItalic";
    font-weight: 400;
    font-style: italic;
    src: url('https://static.zohocdn.com/webfonts/lato2italic/font.woff2') format('woff2'), 
         url('https://static.zohocdn.com/webfonts/lato2italic/font.woff') format('woff'), 
         url('https://static.zohocdn.com/webfonts/lato2italic/font.ttf') format('truetype');
}

@font-face {
    font-family: "LatoMedium";
    font-weight: 500;
    font-style: normal;
    src: url('https://static.zohocdn.com/webfonts/lato2medium/font.woff2') format('woff2'), 
         url('https://static.zohocdn.com/webfonts/lato2medium/font.woff') format('woff'), 
         url('https://static.zohocdn.com/webfonts/lato2medium/font.ttf') format('truetype');
}

@font-face {
    font-family: "LatoSemibold";
    font-weight: 600;
    font-style: normal;
    src: url('https://static.zohocdn.com/webfonts/lato2semibold/font.woff2') format('woff2'), 
         url('https://static.zohocdn.com/webfonts/lato2semibold/font.woff') format('woff'), 
         url('https://static.zohocdn.com/webfonts/lato2semibold/font.ttf') format('truetype');
}

@font-face {
    font-family: "LatoBold";
    font-weight: 700;
    font-style: normal;
    src: url('https://static.zohocdn.com/webfonts/latobold/font.woff2') format('woff2'), 
         url('https://static.zohocdn.com/webfonts/latobold/font.woff') format('woff'), 
         url('https://static.zohocdn.com/webfonts/latobold/font.ttf') format('truetype');
}

@font-face {
    font-family:"RobotoMonoBold";
    font-weight:700;
    font-style:normal;
    src:url("https://static.zohocdn.com/webfonts/robotomonobold/font.woff2") format("woff2"),
    url("https://static.zohocdn.com/webfonts/robotomonobold/font.woff") format("woff"),
    url("https://static.zohocdn.com/webfonts/robotomonobold/font.ttf") format("truetype"); 
}
